// Specific CSS for your home-page
body{
  background: rgb(149, 149, 149);
}

.form{
  display: flex;
  margin-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.candidates-container{

}

.candidate{

  
}