<h1>This is the home page, with filters and the index with all candidates</h1>


<% @candidates.each do |c| %>
  <ul>
  User id: <%= c.user %><br>
  City: <%= c.city %><br>
  Time of Experience: <%= c.experience %><br>
  Technologies: <%= JSON.parse(c.technologies).zip((JSON.parse(c.maintech))).flatten %><br>

  </ul>
<% end %>

  